<hr>
<footer>
  <p id=copyright>&copy; <%= new Date().getFullYear() %> Capitainerie - Gestion des Catways</p>
  
  <form action="/logout" method="POST" style="display:inline;">
    <button type="submit">Se déconnecter</button>
  </form>
</footer>