<header>
  <nav>
    <a href="/dashboard" title="Accueil">
      Accueil
    </a>
    <div id=header>
      <a href="/catways">Catways</a>
      <a href="/reservations">Réservations</a>
      <a href="/users">Utilisateurs</a>
    </udivl>
  </nav>
  <hr>
</header>