<link rel="stylesheet" href="/css/header.css">
<header>
  <nav>
    <!-- Bouton accueil qui renvoie au dashboard -->
    <a href="/dashboard" title="Accueil">
      Accueil
    </a>

    <!-- Menu de navigation -->
    <div>
      <a href="/catways">Catways</a>
      <a href="/reservations">Réservations</a>
      <a href="/users">Utilisateurs</a>
    </udivl>
  </nav>
  <hr>
</header>