<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<%- include('partials/header') %>

<main>
    <h1>Tableau de bord des réservations</h1>
    <div id=buttons>
        <a href="/catways">Catways</a> |
        <a href="/reservations">Réservations</a> |
        <a href="/users">Utilisateurs</a>
    </div>
</main>
<%- include('partials/footer') %>
</body>
</html>