<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Tableau de bord des réservations</h1>
    <div>
        <a href="./catawys.ejs">Catways</a> |
        <a href="./reservations.ejs">Réservations</a> |
        <a href="./users.ejs">Utilisateurs</a>
    </div>
</body>
</html>