<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Port de Plaisance</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<main>
  <h1>Port de Plaisance de Russel</h1>
  <h2>Gestion des réservations</h2>
  <a href="login">Connexion</a> |
  <a href="register">Inscription</a> |
  <a href="/docs">Documentation API</a>

  <div>
    <p>Présentation de l'application :</p>
    <p>Cette application permet de faciliter la gestions des catways ainsi que de leurs réservations.</p>
  </div>
</main>
<footer>
<%- include('partials/footer') %>
</footer>
</body>
</html>