<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Port de Plaisance</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Port de Plaisance de Russel</h1>
  <h2>Gestion des réservations</h2>
  <div>
    <p>Présentation de l'application :</p>
    <p>...</p>
  </div>

  <a href="./login.ejs">Connexion</a> |
  <a href="./register.ejs">Inscription</a> |
  <a href="/docs">Documentation API</a>
</body>
</html>